In [51]:
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

In [52]:
plotly.tools.set_credentials_file(username='airvan21', api_key='')

In [53]:
df = pd.read_csv('../data/AAPL.csv')
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='ignore')
df.head()

   timestamp    open    high     low   close     volume
0 2018-12-07  184.46  184.94  168.30  168.49  167522325
1 2018-11-30  174.24  182.80  170.26  178.58  213749977
2 2018-11-23  190.00  190.70  172.10  172.29  164494301
3 2018-11-16  199.00  199.85  185.93  193.53  242226465
4 2018-11-09  204.30  210.12  198.17  204.47  191199370

In [54]:
df.size

6552

In [55]:
df.dtypes

timestamp    datetime64[ns]
open                float64
high                float64
low                 float64
close               float64
volume                int64
dtype: object

In [61]:
last_df = df.head(112)

In [58]:
trace = go.Candlestick(x=df.timestamp,
                       open=last_df.open,
                       high=last_df.high,
                       low=last_df.low,
                       close=last_df.close)
layout = go.Layout(xaxis = dict(rangeslider = dict(visible = False)))
data = [trace]

In [59]:
fig = go.Figure(data=data,layout=layout)
py.iplot(fig, filename='simple_candlestick')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~airvan21/0 or inside your plot.ly account where it is named 'simple_candlestick'