In [5]:
import pandas as pd
import chart
import plotly.graph_objs as go
import plotly.io as pio
import os

In [7]:
df = pd.read_csv('../static/data/worldtradingdata/SBER.ME.csv')
df.head()

         Date    Open   Close    High     Low    Volume
0  2019-10-03  223.60  224.08  225.64  222.61  38368040
1  2019-10-02  226.05  223.50  226.63  223.03  42441850
2  2019-10-01  227.55  226.49  229.56  226.49  29870590
3  2019-09-30  228.50  227.71  229.00  226.05  30235910
4  2019-09-27  229.20  228.05  229.96  228.05  18062510

In [8]:
df.dtypes

Date       object
Open      float64
Close     float64
High      float64
Low       float64
Volume      int64
dtype: object

In [9]:
df['Date'] = pd.to_datetime(df['Date'], errors='ignore')
df.set_index('Date', inplace=True)
df.head()

              Open   Close    High     Low    Volume
Date
2019-10-03  223.60  224.08  225.64  222.61  38368040
2019-10-02  226.05  223.50  226.63  223.03  42441850
2019-10-01  227.55  226.49  229.56  226.49  29870590
2019-09-30  228.50  227.71  229.00  226.05  30235910
2019-09-27  229.20  228.05  229.96  228.05  18062510

In [10]:
df.dtypes

Open      float64
Close     float64
High      float64
Low       float64
Volume      int64
dtype: object

In [11]:
aggregator = {'Open'  : 'first',
              'Close' : 'last',
              'High'  : 'max',
              'Low'   : 'min',
              'Volume': 'sum'}

In [12]:
offset = pd.offsets.timedelta(days=-6)

In [13]:
df = df.resample('W', loffset=offset).apply(aggregator)
df.head()

             Open  Close   High    Low      Volume
Date
2011-11-21  79.00  78.27  79.37  73.75  1398299520
2011-11-28  80.00  89.50  91.28  79.52  1823407264
2011-12-05  89.56  82.40  90.52  81.65  1476596208
2011-12-12  83.51  80.63  84.80  78.03  1557906960
2011-12-19  80.10  80.00  84.00  77.42  1397987068

In [14]:
last_df = df.tail(52)
last_df.head()

              Open   Close    High     Low     Volume
Date
2018-10-08  187.00  191.85  196.04  182.30  424419412
2018-10-15  192.50  183.80  198.80  183.80  343654982
2018-10-22  184.86  181.00  189.25  177.02  450553180
2018-10-29  180.60  192.60  192.98  178.64  336400754
2018-11-05  194.50  195.75  204.70  193.73  355374161

In [15]:
last_df.index

DatetimeIndex(['2018-10-08', '2018-10-15', '2018-10-22', '2018-10-29',
               '2018-11-05', '2018-11-12', '2018-11-19', '2018-11-26',
               '2018-12-03', '2018-12-10', '2018-12-17', '2018-12-24',
               '2018-12-31', '2019-01-07', '2019-01-14', '2019-01-21',
               '2019-01-28', '2019-02-04', '2019-02-11', '2019-02-18',
               '2019-02-25', '2019-03-04', '2019-03-11', '2019-03-18',
               '2019-03-25', '2019-04-01', '2019-04-08', '2019-04-15',
               '2019-04-22', '2019-04-29', '2019-05-06', '2019-05-13',
               '2019-05-20', '2019-05-27', '2019-06-03', '2019-06-10',
               '2019-06-17', '2019-06-24', '2019-07-01', '2019-07-08',
               '2019-07-15', '2019-07-22', '2019-07-29', '2019-08-05',
               '2019-08-12', '2019-08-19', '2019-08-26', '2019-09-02',
               '2019-09-09', '2019-09-16', '2019-09-23', '2019-09-30'],
              dtype='datetime64[ns]', name='Date', freq='W-MON')

In [16]:
last_df.reset_index(level=0, inplace=True)
last_df.head()

        Date    Open   Close    High     Low     Volume
0 2018-10-08  187.00  191.85  196.04  182.30  424419412
1 2018-10-15  192.50  183.80  198.80  183.80  343654982
2 2018-10-22  184.86  181.00  189.25  177.02  450553180
3 2018-10-29  180.60  192.60  192.98  178.64  336400754
4 2018-11-05  194.50  195.75  204.70  193.73  355374161

In [17]:
trace = go.Candlestick(x=last_df.index,
                       open=last_df.Open,
                       high=last_df.High,
                       low=last_df.Low,
                       close=last_df.Close)
layout = go.Layout(xaxis = dict(rangeslider = dict(visible = False)))

In [18]:
fig = go.Figure(data=[trace], layout=layout)
py.iplot(fig)

NameError: name 'py' is not defined