In [11]:
import pandas as pd
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.io as pio
import os

In [2]:
df = pd.read_csv('../static/data/SBER.ME.csv')
df.head()

         Date    Open   Close    High     Low    Volume
0  2019-07-12  241.29  237.02  241.50  236.37  47691520
1  2019-07-11  244.50  241.30  244.97  240.17  33165890
2  2019-07-10  243.10  243.76  245.50  242.01  41599960
3  2019-07-09  243.00  243.09  243.70  241.87  22987880
4  2019-07-08  242.13  243.30  243.30  240.68  28620550

In [3]:
df.dtypes

Date       object
Open      float64
Close     float64
High      float64
Low       float64
Volume      int64
dtype: object

In [4]:
df['Date'] = pd.to_datetime(df['Date'], errors='ignore')
df.set_index('Date', inplace=True)
df.head()

              Open   Close    High     Low    Volume
Date
2019-07-12  241.29  237.02  241.50  236.37  47691520
2019-07-11  244.50  241.30  244.97  240.17  33165890
2019-07-10  243.10  243.76  245.50  242.01  41599960
2019-07-09  243.00  243.09  243.70  241.87  22987880
2019-07-08  242.13  243.30  243.30  240.68  28620550

In [5]:
df.dtypes

Open      float64
Close     float64
High      float64
Low       float64
Volume      int64
dtype: object

In [6]:
aggregator = {'Open'  : 'first',
              'Close' : 'last',
              'High'  : 'max',
              'Low'   : 'min',
              'Volume': 'sum'}

In [7]:
offset = pd.offsets.timedelta(days=-6)

In [8]:
df = df.resample('W', loffset=offset).apply(aggregator)
df.head()

             Open  Close   High    Low      Volume
Date
2011-11-21  79.00  78.27  79.37  73.75  1398299520
2011-11-28  80.00  89.50  91.28  79.52  1823407264
2011-12-05  89.56  82.40  90.52  81.65  1476596208
2011-12-12  83.51  80.63  84.80  78.03  1557906960
2011-12-19  80.10  80.00  84.00  77.42  1397987068

In [12]:
last_df = df.tail(52)
last_df.head()

              Open   Close    High     Low     Volume
Date
2018-07-16  230.10  204.34  231.00  201.10  379399647
2018-07-23  205.40  208.90  216.51  205.25  304669824
2018-07-30  207.77  202.21  215.20  202.00  263581348
2018-08-06  201.80  186.15  207.95  182.06  529288582
2018-08-13  182.05  189.55  195.98  180.15  367106703

In [15]:
last_df.index

DatetimeIndex(['2018-07-16', '2018-07-23', '2018-07-30', '2018-08-06',
               '2018-08-13', '2018-08-20', '2018-08-27', '2018-09-03',
               '2018-09-10', '2018-09-17', '2018-09-24', '2018-10-01',
               '2018-10-08', '2018-10-15', '2018-10-22', '2018-10-29',
               '2018-11-05', '2018-11-12', '2018-11-19', '2018-11-26',
               '2018-12-03', '2018-12-10', '2018-12-17', '2018-12-24',
               '2018-12-31', '2019-01-07', '2019-01-14', '2019-01-21',
               '2019-01-28', '2019-02-04', '2019-02-11', '2019-02-18',
               '2019-02-25', '2019-03-04', '2019-03-11', '2019-03-18',
               '2019-03-25', '2019-04-01', '2019-04-08', '2019-04-15',
               '2019-04-22', '2019-04-29', '2019-05-06', '2019-05-13',
               '2019-05-20', '2019-05-27', '2019-06-03', '2019-06-10',
               '2019-06-17', '2019-06-24', '2019-07-01', '2019-07-08'],
              dtype='datetime64[ns]', name='Date', freq='W-MON')

In [16]:
trace = go.Candlestick(x=last_df.index,
                       open=last_df.Open,
                       high=last_df.High,
                       low=last_df.Low,
                       close=last_df.Close)
layout = go.Layout(xaxis = dict(rangeslider = dict(visible = False)))

In [17]:
fig = go.Figure(data=[trace], layout=layout)
py.iplot(fig)

/Users/ivan.abramov/.local/share/virtualenvs/EasyStocks-Y6gAEsoh/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead